#Install the Google GenAI library
pip install -q -U google-genai

#Import the necessary libraries for Google GenAI
from dotenv import load_dotenv
import os
load_dotenv()
api_key = os.getenv("GOOGLE_GENAI_API_KEY")

client = genai.Client(api_key=api_key)

#Import the Google GenAI library
from google import genai

